/* #Font
================================================== */
@font-face {
  font-family: "almoni";
  font-weight: 300;
  src: url("../font/almoni-dl-aaa-300.woff");
}

@font-face {
  font-family: "almoni";
  font-weight: 400;
  src: url("../font/almoni-dl-aaa-400.woff");
}

@font-face {
  font-family: "almoni";
  font-weight: 700;
  src: url("../font/almoni-dl-aaa-700.woff");
}

body {
  font-family: "almoni", sans-serif;
  letter-spacing: 0;
}

.text-green {
  color: #1dab57;
}

/* #Btn
================================================== */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vw;
  padding: 0.45vw 2.35vw;
}

.btn-primary {
  color: white;
  background-color: #ba322f;
  border-radius: 1vw;
  border: none;
}

.btn-primary.outline {
  color: #ba322f;
  background-color: white;
  border: 2px solid #ba322f;
}

.btn-secondary {
  color: white;
  background-color: #e99444;
  border-radius: 1vw;
  border: none;
}

.btn-tertiary {
  background-color: white;
  color: #1dab57;
  border: none;
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 5.73vw;
    padding: 1vw 4.15vw;
  }

  .btn-primary,
  .btn-secondary {
    border-radius: 2.66vw;
  }
}

/* #Backgrounds
================================================== */
.bg-1 { color: #267b4b; }
.bg-2 { color: #c67907; }
.bg-3 { color: #7651c9; }
.bg-4 { color: #e744a4; }
.bg-5 { color: #2a4d81; }
.bg-6 { color: #ffffff; }
.bg-7 { color: #ffffff; }
.bg-8 { color: #0a9357; }
.bg-9 { color: #6cfae8; }
.bg-10 { color: #510969; }
.bg-11 { color: #9a3db8; }
.bg-12 { color: #e1ebe6; }
.bg-13 { color: #1e8713; }
.bg-14 { color: #711c8a; }
.bg-15 { color: #f1e8f3; }
.bg-16 { color: #9b105e; }
.bg-17 { color: #fa4825; }
.bg-18 { color: #ffffff; }
.bg-19 { color: #ffffff; }
.bg-20 { color: #9a13c7; }
.bg-21 { color: #3067a4; }

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .container {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 47%;
}

.banner p {
  margin-bottom: 1.3vw;
  line-height: 1;
}

.banner .bg img,
.banner .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .banner .container {
    top: 25%;
    width: 92%;
  }
  
  .banner p {
    margin-bottom: 3vw;
  }
}

/* #Home Grid
================================================== */
.home-grid {
  padding: 1.8vw 0 5.2vw 0;
}

.home-grid .container {
  width: 67%;
}

/* Tab Navigation */
.home-grid .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-grid .tab-btn {
  color: #dcf3c3;
  background-color: #33b368;

  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.home-grid .tab-btn.active {
  color: #1dab57;
  background-color: #f1efef;
}

.home-grid .tab-btn a {
  width: 13.5vw;
  height: 2.6vw;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
}

/* Grid */
.home-grid .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  grid-auto-flow: row dense;

  margin: -.25vw;
}

.home-grid .grid-item {
  flex: 0 0 25%;
  padding: .25vw;
  position: relative;
  color: white;
}

.home-grid .grid-item.ad {
  flex: 0 0 50%;
  grid-column: 1 / 3;
  grid-row: 3 / span 2;
}

.home-grid .grid-item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-grid .grid-item .like {
  position: absolute;
  bottom: .78vw;
  left: 1vw;
  z-index: 2;

  display: flex;
  align-items: center;
  line-height: 1;
}

.home-grid .grid-item .heart-icon-wrapper {
  margin-right: .5vw;
  display: flex;
}

.home-grid .grid-item .heart-icon {
  width: 1.8vw;
}

.home-grid .grid-item .heart-icon.full {
  display: none;
}

.home-grid .grid-item.liked .heart-icon {
  display: none;
}

.home-grid .grid-item.liked .heart-icon.full {
  display: block;
}

@media (max-width: 1023.98px) {
  .home-grid {
    padding: 0 0 20vw 0;
    margin-top: -8.33vw;
    position: relative;
    z-index: 1;
  }
  
  .home-grid .container {
    width: 100%;
  }

  /* Tab Navigation */
  .home-grid .tab-navigation {
    margin-bottom: 4.16vw;
  }

  .home-grid .tab-btn {
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .home-grid .tab-btn a {
    height: 8.33vw;
  }

  /* Grid */
  .home-grid .grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5%;
    margin: -.65vw;
  }

  .home-grid .grid-item {
    flex: 0 0 50%;
    padding: .65vw;
  }

  .home-grid .grid-item.ad {
    flex: 0 0 100%;
  }

  .home-grid .grid-item .like {
    bottom: 1.5vw;
    left: 2vw;
  }
  
  .home-grid .grid-item .heart-icon-wrapper {
    margin-right: 1.5vw;
  }
  
  .home-grid .grid-item .heart-icon {
    width: 5.4vw;
  }
}

/* #Home Sticky
================================================== */
.home-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.6vw 0;
}

@media (min-width: 1024px) {
  .home-sticky {
    display: none;
  }
}

/* #Message Single
================================================== */
.message-single {
  padding-bottom: 1.5vw;
}

.message-single .container {
  width: 30%;
}

.message-single .container > a {
  padding: 1vw 0;
  display: block;
}

.message-single .message {
  position: relative;
}

.message-single .message .bg img {
  width: 100%;
}

/* Text */
.message-single .message .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.message-single .message input {
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: none;
  width: 100%;
}

.message-single .message input::placeholder {
  color: inherit;
}

/* Message Info */
.message-single .message-info {
  margin-bottom: 4.68vw;
}

.message-single .message-info .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5vw;
  margin: 1vw 0;
}

.message-single .message-info .row > div {
  display: flex;
  align-items: baseline;
}

/* Like */
.message-single .like {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 20%;
}

.message-single .like .heart-icon-wrapper {
  margin-right: .5vw;
  display: flex;
}

.message-single .like .heart-icon {
  width: 1.8vw;
}

.message-single .like .heart-icon.full {
  display: none;
}

.message-single .like.liked .heart-icon {
  display: none;
}

.message-single .like.liked .heart-icon.full {
  display: block;
}

/* Social */
.message-single .message-social {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5vw;
}

.message-single .message-social ul {
  display: flex;
}

.message-single .message-social ul li:not(:last-child) {
  margin-left: .75vw;
}

.message-single .message-social ul img {
  width: 2.6vw;
}

@media (max-width: 1023.98px) {
  .message-single {
    padding-bottom: 10vw;
  }
  
  .message-single .container {
    width: 100%;
  }
  
  .message-single .container > a {
    padding: 3.33vw 4%;
  }

  /* Message Info */
  .message-single .message-info {
    margin-bottom: 20vw;
  }

  .message-single .message-info .row {
    padding: 0 4%;
    margin: 3vw 0;
    align-items: center;
  }

  .message-single .message-info .row > div {
    display: flex;
    align-items: baseline;
  }

  /* Like */
  .message-single .like .heart-icon-wrapper {
    margin-right: 2vw;
  }

  .message-single .like .heart-icon {
    width: 5.2vw;
  }

  /* Social */
  .message-single .message-social {
    padding: 0 4%;
    align-items: center;
  }

  .message-single .message-social ul li:not(:last-child) {
    margin-left: 2.6vw;
  }

  .message-single .message-social ul img {
    width: 8.33vw;
  }
}

/* #Message Create
================================================== */
.message-create {
  padding-bottom: 1.5vw;
}

.message-create .container {
  width: 30%;
}

.message-create .container > a {
  padding: 1vw 0;
  display: block;
}

.message-create .message {
  position: relative;
}

.message-create .message .bg img {
  width: 100%;
}

/* Text */
.message-create .message .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.message-create .message input {
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: none;
  width: 100%;
}

.message-create .message input::placeholder {
  color: inherit;
}

/* Gallery */
.message-create .gallery {
  position: relative;
}

.message-create .gallery .text-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  z-index: 20;
}

.message-create .gallery .text-input input {
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: none;
  width: 100%;
  transition: color .3s ease;
}

.message-create .gallery .text-input input::placeholder {
  color: inherit;
}

/* Thumbs */
.message-create .thumbs {
  margin: 1vw 0 2vw 0;
}

.message-create .thumbs .swiper-slide {
  padding: 0 .36vw;
  cursor: pointer;
}

.message-create .thumbs img {
  border-radius: 50%;
  border: 3px solid transparent;
  /* transition: all .4s ease; */
  backface-visibility: hidden;
  padding: 0;
}

.message-create .thumbs .swiper-slide-thumb-active img {
  border: 3px solid #e0e0e0;
  padding: .15vw;
}

/* Form */
.message-create .form label {
  display: block;
  color: rgba(0, 0, 0, 0.7);
}

.message-create .form textarea {
  display: block;
  width: 100%;
  resize: none;
  margin-top: .25vw;
  margin-bottom: 1.8vw;
  padding: .5vw;
  border: 1px solid black;
  border-radius: 0;
}

.message-create .form button {
  width: 100%;
  font-size: 2.4vw;
  padding: 1vw 2.35vw;
}

@media (max-width: 1023.98px) {
  .message-create {
    padding-bottom: 10vw;
  }
  
  .message-create .container {
    width: 100%;
  }

  .message-create .container > a {
    padding: 3.33vw 4%;
  }

  /* Thumbs */
  .message-create .thumbs {
    margin: 2.6vw 0 6.25vw 0;
  }

  .message-create .thumbs .swiper-slide {
    padding: 0 1.33vw;
  }

  .message-create .thumbs .swiper-slide-thumb-active img {
    padding: .5vw;
  }

  /* Form */
  .message-create .form {
    padding: 0 4%;
  }

  .message-create .form textarea {
    margin-top: 2vw;
    margin-bottom: 6.25vw;
    padding: 1.33vw;
  }

  .message-create .form button {
    font-size: 7.4vw;
    padding: 2.5vw 4.15vw;
  }
}

/* #Message Modal
================================================== */
.message-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  overflow-y: auto;

  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;

  transition: all .4s ease;
  backface-visibility: hidden;
}

.message-modal.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* #Body Bg Green
================================================== */
.body-bg-green {
  min-height: 100vh;
  background-image: url('../img/backgrounds/green-bg-desktop.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media (max-width: 1023.98px) {
  .body-bg-green {
    background-image: url('../img/backgrounds/green-bg-mobile.jpg');
  }
}

/* #Form Page
================================================== */
.form-page {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2vw 0;
  color: white;
}

.form-page .container {
  width: 21.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page .container > a {
  width: 100%;
  flex: 0 0 100%;
}

.form-page h1 {
  text-align: center;
  margin: .75vw 0 1.5vw 0;
  line-height: 1.2;
}

/* Form */
.form-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-page .form-group {
  width: 100%;
  flex: 0 0 100%;
}

.form-page .form-group:not(:last-child) {
  margin-bottom: 1vw;
}

.form-page input[type="text"] {
  width: 100%;
  color: #1dab57;
  border: none;
  background-color: white;
  height: 3.125vw;
  margin-bottom: .5vw;
  padding-right: 1vw;
}

.form-page input[type="text"]::placeholder {
  color: #1dab57;
}

.form-page form h2 {
  margin: 0 0 1.3vw 0;
}

.form-page .btn {
  width: 100%;
}

.form-page .btn:last-child {
  margin-top: 0.65vw;
}

.form-page .checkbox {
  margin-bottom: .65vw;
}

/* Checkbox */
.checkbox input {
  width: 1.77vw;
  height: 1.77vw;
  border-radius: 0;
  border-color: white;
  flex: 0 0 1.77vw;
  background-color: white;
}

.checkbox input:checked {
  border-color: #1dab57;
  background-color: #1dab57;
  background-size: .75vw .75vw;
}

.checkbox label {
  padding-right: 1vw;
}

@media (max-width: 1023.98px) {
  .form-page {
    padding: 0;
  }
  
  .form-page .container {
    width: 100%;
  }
  
  .form-page .container > a {
    background-color: white;
    padding: 2vw 4%;
    color: #1dab57;
  }
  
  .form-page h1 {
    margin: 6.25vw 0;
  }
  
  /* Form */
  .form-page form {
    padding: 0 4%;
    margin-bottom: 10vw;
  }
  
  .form-page .form-group:not(:last-child) {
    margin-bottom: 4.7vw;
  }
  
  .form-page input[type="text"] {
    height: 13.5vw;
    margin-bottom: 3.125vw;
    padding-right: 7.8vw;
  }
  
  .form-page form h2 {
    margin: 0 0 6.25vw 0;
  }
  
  .form-page .btn:last-child {
    margin-top: 2.6vw;
  }
  
  .form-page .checkbox {
    margin-bottom: 2.6vw;
  }

  .form-page .btn {
    padding: 3vw 4.15vw;
  }
  
  /* Checkbox */
  .checkbox input {
    width: 7.8vw;
    height: 7.8vw;
    flex: 0 0 7.8vw;
  }
  
  .checkbox input:checked {
    background-size: 4vw 4vw;
  }
  
  .checkbox label {
    padding-right: 3.65vw;
  }
}

/* #Form Page Modal
================================================== */
.form-page-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-page-modal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: white;
  padding: 2vw 4vw 2.5vw 4vw;
}

.form-page-modal h2 {
  color: #26559e;
  margin-bottom: 2vw;
}

.form-page-modal .btn {
  width: 100%;
}

.form-page-modal .btn:last-child {
  margin-top: .65vw;
}

.form-page-modal {
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;

  transition: all .4s ease;
  backface-visibility: hidden;
}

.form-page-modal.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023.98px) {
  .form-page-modal .container {
    width: 95%;
    padding: 13vw 0 16.6vw 0;
  }
  
  .form-page-modal h2 {
    margin-bottom: 13.5vw;
  }

  .form-page-modal .btn {
    width: 80%;
    padding: 3vw 4.15vw;
  }
  
  .form-page-modal .btn:last-child {
    margin-top: 2vw;
  }
}

/* #Parents
================================================== */
.parents h1 {
  margin-top: 5vw;
}

@media (max-width: 1023.98px) {
  .parents h1 {
    margin-top: 40vw;
    padding: 0 25%;
  }
}